.base {
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 500;
  background-color: transparent;
}

.base.contained.primary {
  background-color: var(--bg-button);
  border-color: var(--bg-button);
  color: black;
}

.base.contained.secondary {
  background-color: var(--accent);
  color: white;
  border-color: var(--accent);
}

.base.outlined.primary {
  background-color: inherit;
  color: var(--text-color);
  border-color: transparent;
}

