.email-card__wrapper {
  display: flex;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.email-card__wrapper > div {
  padding: 0.5rem;
}

.email-card__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 85%;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
