.email-details__open {
  display: flex;
  padding: 1rem;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--bg-read);
  min-height: calc(100vh - 7rem);
}

.email-details__open > div {
  padding: 0.5rem;
}

.email-details__content p {
  margin: 0.5rem 0;
}
